.form-control:disabled{
    border: 0;
    opacity: 1;
    background-color: transparent;
}
.info:disabled{
    background-color: transparent;
}
.info::after{
    content: '';
    position: absolute;
    top: 29px;
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}
.info.checkedIn::after{
    background-color: green;
}
